<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Contabilidad</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ActEmpresaServlet</display-name>
    <servlet-name>ActEmpresaServlet</servlet-name>
    <servlet-class>Contabilidad.Controller.ActEmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActEmpresaServlet</servlet-name>
    <url-pattern>/ActEmpresaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IvaServlet</display-name>
    <servlet-name>IvaServlet</servlet-name>
    <servlet-class>Contabilidad.Controller.IvaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IvaServlet</servlet-name>
    <url-pattern>/IvaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CuentaServlet</display-name>
    <servlet-name>CuentaServlet</servlet-name>
    <servlet-class>Contabilidad.Controller.CuentaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuentaServlet</servlet-name>
    <url-pattern>/CuentaServlet</url-pattern>
  </servlet-mapping>
</web-app>