
th, td {
	text-align:center;
	padding:2px;
}

tr {
	margin:3px 0;
}

.oscurodos {
	color:#3783c8!important;
}

.especial .cincuenta, .especial label {
	width:50%;
	display:inline-block;
	margin-bottom:6px;
}

.botonbajo {
	margin-top:25px;
}

#idEmpresa_filter label {
	display:none;
}

.vacio {
	height:20px;
}